<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
    <h2>Восстановление пароля</h2>
    <form method="post" action="{% url 'auth:forgot_password' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Введите ваш Email" required>
        <button type="submit">Сбросить пароль</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <br>
    <a href="{% url 'auth:login' %}">Вернуться ко входу</a>
</body>
</html>