
{% load webpush_notifications %}
{% webpush_header %}
<h3>Подписки</h3>

<a href="{% url 'main:add_subscription' %}">
Добавить подписку вручную
</a>

<br><br>

<a href="{% url 'main:subscriptions' %}">
Просмотреть все подписки
</a>


<h3>Почта</h3>

{% if email_account %}

<p>
Подключена почта:
<b>{{ email_account.email }}</b>
</p>

<p style="color:green;">
Почта подключена
</p>

<a href="{% url 'main:email_sync' %}">
Проверить почту
</a>

<a href="{% url 'main:email_disconnect' %}">
Отключить почту
</a>

<a href="{% url 'main:subscription_candidates' %}">
Найденные подписки
</a>

{% else %}

<p style="color:red;">
Почта не подключена
</p>

<a href="{% url 'auth:connect_yandex' %}">
Подключить Яндекс почту
</a>

{% endif %}

{% webpush_button %}
