{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новый пароль</title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>

<header>
    <div class="block1">
        <h2>BANANOSUBS</h2>
        <div class="header-link">
            <a href="{% url 'main:home' %}" class="button1">Главная</a>
            <a href="{% url 'main:analytics' %}" class="button2">Аналитика</a>
            <a href="{% url 'main:forecast' %}" class="button3">Прогноз</a>
        </div>
        <a href="{% url 'auth:login' %}" class="registr">Регистрация | Вход</a>
    </div>
       <div class="line" style="border-bottom: solid 1px #e3e3e3;"></div>
</header>

<body>
    <div class="auth-container">
        <div class="auth-card">
            <h1>Новый пароль</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.errors %}
                            <div class="form-error">
                                {{ field.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="auth-btn">Сохранить пароль</button>
            </form>
        </div>
    </div>
</body>
</html>
