<h2>Новый пароль</h2>

<form method="post">

{% csrf_token %}

{% for field in form %}

<div class="form-group">

{{ field.label_tag }}

{{ field }}

{% if field.errors %}
<div class="error">
{% for error in field.errors %}
<p>{{ error }}</p>
{% endfor %}
</div>
{% endif %}

</div>

{% endfor %}

<button type="submit">
Сохранить пароль
</button>

</form>

<style>

.form-group{
margin-bottom:15px;
}

input{
width:250px;
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

.error{
color:red;
}

</style>