<h2>Подтверждение</h2>
<form method="post">
    {% csrf_token %}

    {% if not code_sent %}
        <p>Нажмите кнопку, чтобы отправить код на почту.</p>
        <button type="submit" name="action" value="send">Отправить код</button>
    {% else %}
        {% for field in form %}
            <div>{{ field }} {{ field.errors }}</div>
        {% endfor %}
        <button type="submit" name="action" value="verify">Подтвердить</button>
        <hr>
        <button type="submit" name="action" value="send">Отправить код повторно</button>
    {% endif %}
</form>